/**** MEYER'S RESET ****/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**End Of Meyer's Reset**/

/** Clearfix **/

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }

* html .clearfix { height: 1%; }
.clearfix { display: block; }

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/** End of Clearfix**/


body{
		line-height: 1;
    background-color: white;
}

header {
    background-image: url(../images/img.png);
    background-size: 100% 100%;
    max-width: 2200px;
    height: 400px;
}

h1 {
    top: 150px;
    width: 100%;
    text-align: center;
    color: Black;
    font-size: 50px;
    font-weight: bold;
		font-family: '', cursive;
    padding-top: 115px;
}
.navbar{
    margin-top: -5px;
}

ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #88BBD6;
}

li{
    float: left;
    width: 33.33333%;
    margin: 0;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-family: Segoe UI;
		font-weight: bold;
}

li a:hover{
    background-color: #99D3DF;
    text-decoration: none;
}

.gridtop, .gridmiddle, .gridbottom {
    width: 33%;
    padding: 1%;
}

.gridtop {
    margin-top: 50px;
}

.gridbottom {
    margin-bottom: 50px;
}
.imagegrid {
    width: 960px;
    margin: 0 auto;
}
footer{
		padding-top: 10px;
    background-color: #88BBD6;
    color: white;
    height: 65px;
    font-size: 24px;
    text-align: center;
    border: 20px;
    text-decoration: none;


}
footer a:link {
    color: white;
    text-decoration: underline;
}
footer a:visited{
    color: white;
    text-decoration: underline;
}

/** Slideshow**/

.slideshow{
	height: 100px;
	width: 800px;
	text-align: center;
	margin:0 auto;
	padding-top: 50px;
	padding-bottom: 270px;
}

@keyframes slideshowanimation {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

#imageslider {
	overflow: hidden;
}
#imageslider figure img {
	width: 20%; float: left;
}
#imageslider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slideshowanimation infinite;
}

div.table{
    padding-top: 10px;
    text-align: center;
		margin:0 auto;
		padding-bottom: 80px;

}
table, th, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
		margin:0 auto;
}
h2{
    padding-top: 45px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: Segoe UI;
    padding-bottom: 20px;
}
iframe{
		margin:0 auto;
}
.googlemaps {
		padding-top: 25px;
		padding-bottom: 25px;
    width: 512px;
    display: block;
    margin: 0 auto;
}
